* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(154, 255, 158);
}

#sky {
    transition: 3s ease;
    position: relative;
    background-image: url(images/back_groung.jpg);
    width: 100%;
    background-size: 100% 100%;
    height: 52vh;
    margin: 0 0 0 0;
    z-index: -1;
    padding: 0 0 0 0;
}

#water {
    transition: 3s ease;
    background-image: url(images/under_water.jpg);
    position: relative;
    background-size: 100% 100%;

    margin: 0 0 0 0;
    z-index: 1;
    padding: 0 0 0 0;
    width: 100%;
    height: 48vh;
}

#water_conatiner {
    position: relative;
}

#sky_container {
    position: relative;
}


#sun {
    position: absolute;
    height: auto;
    z-index: 0;
    width: 12.0208%;
    left: 42.317%;
    top: -6.921%;
}

.heli {
    position: absolute;
    height: auto;
    z-index: 3;
}


#heli_1 {
    width: 6.510%;
    top: 24.607%;
    left: 74.86%;
}

/* 714
1536 */


#heli_2 {
    width: 7.486%;
    left: 52.083%;
    top: 57.411%;
}

#jet_1 {
    width: 8.138%;
    top: 28.92%;
}

.fishes {
    position: absolute;
    height: auto;
    z-index: 10;
}

#submarine {
    position: absolute;
    height: auto;
    z-index: 1;
    width: 8.486%;
    left: 42.317%;
    top: 54.411%;
}

#fish1 {
    width: 5.859%;
    left: 18.88%;
    top: 8.403%;
}

#fish2 {
    width: 5.208%;
    left: 5.859%;
    top: 60.672%;
}

#fish3 {
    width: 7.161%;
    left: 35.807%;
    top: 33.613%;
}



#fish4 {
    width: 6.184%;
    left: 75.104%;
    top: 42.607%;
}

#fish5 {
    width: 6.510%;
    left: 11.393%;
    top: 17.406%;
}

#fish6 {
    width: 8.789%;
    top: 59.801%;
    left: 58.59%;
}

#fish7 {
    width: 6.184%;
    top: 26.61%;
    left: 76.82%;
}

.clouds {
    position: absolute;
    height: auto;
    z-index: 1;

}

#cloud1 {
    width: 17.578%;
    top: 5.722%;
    left: 16.927%;
}

#cloud2 {
    width: 17.578%;
    top: 16.402%;
    left: 61.244%;
}